* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.admincss1 {
  overflow-x: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(8, 8, 8, 0.288) 50%,
      rgba(255, 255, 255, 0.6) 80%
    ),
    linear-gradient(
      to right,
      rgba(8, 8, 8, 0.288) 70%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url("../../Images/coveradm.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.tag {
  position: absolute;
  top: 35vh;
  left: 5vw;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 200%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;

  margin-left: 40px;
}
.tag2 {
  font-size: 95%;
  color: #a0b9ff;
  text-transform: uppercase;
}

.btns {
  position: absolute;
  top: 55vh;
  left: 10vw;
  display: inline;
  width: 50%;
}
.add_button2,
.add_button3 {
  text-transform: uppercase;
  display: inline-block;
  background-color: #0084ff;
  width: 25%;
  min-width: 180px;
  margin: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-align: center;
  min-width: 200px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}

.add_button3 {
  background-color: rgba(0, 0, 0, 0.5);

  color: #459df1;
  border: 1.5px solid #459df1;
}
.add_button2:hover {
  background-color: #036aca;
}

.add_button3:hover {
  background-color: #036dd1;
  color: white;
  border: 1.5px solid #036dd1;
}

.infor {
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 98vw;
  justify-content: space-around;
}
.informa {
  cursor: pointer;
  display: block;
  color: #474646;
  text-align: center;
  height: 90px;
  width: 90px;
  border: 3px solid #474646;
  border-top: 0px none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 200%;
  padding-top: 30px;
  position: relative;
  font-weight: 500;
}
.icon2 {
  font-weight: 500;
  position: absolute;
  top: -15%;
  left: 34%;
  font-size: 100%;
}

.informa div {
  margin-top: 30px;
  font-size: 45%;
  text-transform: uppercase;
  font-weight: 500;
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-weight: 600;
}
.informa:hover {
  border: 3px solid white;
  border-top: 0 none;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
}

.mem {
  margin-top: 40px;
  padding-top: 50px;
  border: 3px solid rgb(202, 202, 202);
  margin-left: 10%;
  width: 80%;

  background-color: #f5f5f5;
  z-index: -1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.det {
  font-size: 160%;
  color: #065daf;
  font-weight: 600;
  margin-left: 40px;
  letter-spacing: 0;
}
.memno {
  width: 100%;
  padding: 10px;
  display: inline-block;
  border-bottom: 1px solid rgb(223, 220, 220);
}
.number {
  margin: 0 60px;
  display: inline-block;
  font-weight: bold;
  color: #0468c5;
}

.regno {
  margin-left: 30px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 110%;
  color: #0660b4;
}
/*Media QUery*/
@media (max-width: 1100px) {
  .informa {
    font-size: 180%;
    height: 80px;
    width: 80px;
    padding-top: 20px;
  }
  .informa div {
    margin-top: 30px;
  }
}

@media (max-width: 960px) {
  .tag {
    font-size: 180%;
    display: inline-block;
  }

  .btns {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tag {
    font-size: 160%;
    display: inline-block;
  }
  .informa {
    font-size: 160%;
    height: 70px;
    width: 70px;
    padding-top: 20px;
  }
  .informa div {
    margin-top: 30px;
  }
  .home_cont {
    width: 95%;
  }
  .mem {
    width: 95%;
    margin-left: 2.5%;
  }
  .add_button2 {
    font-size: 90%;
  }
  .add_button3 {
    font-size: 90%;
  }
  .add_button2,
  .add_button3 {
    min-width: 180px;
  }
}

@media (max-width: 693px) {
  .tag {
    font-size: 130%;
    display: inline-block;
    letter-spacing: 0;
  }
  .add_button2,
  .add_button3 {
    width: 20%;
    font-size: 90%;
    min-width: 180px;
  }
}

@media (max-width: 693px) {
  .tag {
    font-size: 140%;
    display: inline-block;
  }

  .add_button2 {
    margin-left: 50px;
    width: 20%;
    font-size: 90%;
  }
}

@media (max-width: 555px) {
  .tag {
    font-size: 120%;
    display: inline-block;
    letter-spacing: 0.5px;
  }

  .add_button2,
  .add_button3 {
    margin-left: 50px;
    width: 20%;
    font-size: 80%;
    letter-spacing: 0;
    min-width: 150px;
  }
  .add_button3 {
    margin-left: 20px;
  }
  .number {
    font-size: 90%;
    margin-right: 0;
  }
  .regno {
    font-size: 90%;
  }
}

@media (max-width: 486px) {
  .tag {
    font-size: 120%;
    display: inline-block;
    text-align: center;
    margin-left: 15%;
  }

  .add_button2 {
    margin-left: 15%;
    width: 50%;
    font-size: 80%;
  }
  .add_button3 {
    margin-left: 15%;
    font-size: 80%;
    width: 50%;
    margin-bottom: 15px;
  }
  .infor {
    margin-top: 20px;
  }
}

@media (max-width: 420px) {
  .tag {
    margin-left: 10%;
  }
}
