* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
.Help {
  background-color: rgb(168, 168, 168);
  min-height: 100vh;
}
.infohelp {
  padding-top: 100px;
  font-size: 16px;
  background-color: rgb(243, 243, 243);
  margin-bottom: -60px;
  min-height: 90vh;
  padding-bottom: 20px;
}
.line {
  margin-top: 20px;
  border-top: 1px solid rgb(221, 221, 221);
  margin-bottom: -20px;
}
.helpt {
  color: rgb(26, 59, 148);
  font-size: 26px;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.helpt::after {
  text-align: center;
  width: 10vw;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  border: 1px solid rgb(26, 59, 148);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.helpc {
  font-size: 16px;
  width: 90%;
  margin: auto;
  border: 1px solid rgb(228, 227, 227);
  padding: 20px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgb(163, 163, 163);
}

@media (max-width: 600px) {
  .helpc {
    padding: 20px 40px;
    font-size: 14px;
  }
}
