* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(238, 238, 238);
  position: relative;
  overflow-x: hidden;
}

.parallax {
  /* The image used */
  padding-left: 40px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 15%,
      rgba(0, 0, 0, 0.2) 60%
    ),
    url("../../Images/home_cover.jpg");
  /*pussh*/
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tag {
  position: absolute;
  top: 35vh;
  left: 5vw;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 200%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.tag2 {
  padding-left: 20px;
  font-size: 95%;
  color: #a0b9ff;
}
.btns {
  position: absolute;
  top: 55vh;
  left: 10vw;
  display: inline;
  width: 50%;
}
.add_button2,
.add_button3 {
  display: inline-block;
  background-color: #0084ff;
  width: 25%;
  margin: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-align: center;
  min-width: 180px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}

.add_button3 {
  background-color: rgba(0, 0, 0, 0.5);

  color: #459df1;
  border: 1.5px solid #459df1;
}
.add_button2:hover {
  background-color: #036aca;
}

.add_button3:hover {
  background-color: #036dd1;
  color: white;
  border: 1.5px solid #036dd1;
}

.infor {
  position: relative;
  top: 12vh;
  /* top: 18px; */
  display: flex;
  width: 80vw;
  justify-content: space-around;
  /* background: red; */
}
.informa {
  display: block;
  color: white;
  text-align: center;
  height: 120px;
  width: 120px;
  border: 2px solid white;
  border-top: 0px none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 220%;
  padding-top: 30px;
  position: relative;
}
.icon2 {
  position: absolute;
  top: -15%;
  left: 34%;
  font-size: 100%;
}

.informa div {
  margin-top: 50px;
  font-size: 45%;
  text-transform: uppercase;
}
.informa:hover {
  border: 3px solid white;
  border-top: 0 none;
  background-color: rgba(0, 0, 0, 0.4);
}
.home_cont {
  background-color: white;
  color: rgb(97, 97, 97);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  width: 80%;
  padding: 20px;
  margin: 50px auto;

  border-radius: 15px;
}

.members {
  text-align: center;
  margin: 20px 0px;
  color: rgba(49, 49, 40, 0.81);
  font-size: 20px;
  background-color: rgba(65, 179, 201, 0.81);
  border-radius: 5px;
  padding: 15px;
  font-weight: 500;
}

.mem {
  margin-top: 40px;
  padding-top: 20px;
  border: 3px solid rgb(202, 202, 202);
  margin-left: 10%;
  width: 80%;
  max-width: 1140px;
  background-color: #e7e7e7;
  z-index: -1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.number {
  padding-bottom: 40px;
  margin: 0 60px;
  float: left;
  font-weight: bold;
}

.regno {
  margin-left: 30%;
  float: left;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 110%;
}
.add_button {
  background-color: #2378c9;
  width: max-content;
  margin: 25px auto;

  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.__plus {
  position: relative;
  top: 2px;
  font-size: 18px;
}

.add_button:hover {
  background-color: #0084ff;
}

.info {
  margin: 20px 0px;
  background-color: rgba(71, 201, 114, 0.81);
  border-radius: 5px;
  padding: 15px;
  font-weight: 500;
  color: rgba(28, 18, 18, 0.57);
}

/* modal */

.addMem {
  text-align: center;
}

.inst {
  background-color: #50a8fc;
  color: white;
  padding: 10px;
  font-size: 25px;
  /* font-weight: bold; */
  border-radius: 5px;

  letter-spacing: 2px;
}

.displayLine {
  display: inline-block;
}

.userCheck {
  position: relative;
  left: 8px;
  top: 2px;
  font-size: 17px;
}

.inputs {
  padding-top: 40px;
  text-align: left;
}

.input {
  margin: 20px 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.input:focus {
  border-bottom: 2px solid #459df1;
}


.submit {
  background-color: #459df1;
  padding: 10px;
  width: max-content;
  /* margin-left: auto; */
  margin: 0 auto;
  margin-top: 17px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}

.submit:hover {
  background-color: rgb(23, 107, 175);
}

.none {
  display: none;
}

.inputText{
  /* color:red; */
  position: relative;
  top: -3px;
  
}

.radioBtn {
  margin: 15px 10px;
  /* padding: 10px; */
  cursor: pointer;

  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
    
}

