* {
  box-sizing: border-box;
}
.cont {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  height: 40vh;
  min-width: 370px;
}

.header {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #0e589e;
  margin: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url('../../../images/orange.png');
   */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin-top: 30px;
}

.doc {
  font-size: 40px;
  color: #ffffff;
}

.text {
  padding: 20px;
  font-size: 18px;
  color: #0e589e;
  font-weight: bold;
  letter-spacing: 1px;
}

.input {
  display: inline-block;
  padding: 10px 0px;
  background-color: rgba(223, 223, 223, 0.452);
  border-radius: 4px;
  margin: 10px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 80%;
}

.icon {
  height: 50px;
  width: 50px;
  background-color: rgb(224, 224, 224);
  color: rgb(41, 41, 41);
  display: inline;
  padding: 5px 7px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: none;
}

.txt {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.062);
  border: none;
  margin: 0px 10px;
  text-align: left;
  font-size: 100%;
  min-width: 100px;
  letter-spacing: 1px;
}

.txt::placeholder {
  color: rgb(172, 169, 169);
  font-size: 90%;
}
.pass {
  position: relative;
  height: 20px;
}
txt:focus,
input:focus {
  outline: none;
}

.eye {
  padding: 10px;
  position: absolute;
  top: -230%;
  right: 12%;
  width: max-content;
  margin: auto;
  cursor: pointer;
  color: rgb(119, 119, 119);
}
.absclass {
  position: relative;
}
.button {
  width: 80%;
  background-color: #0e589e;
  position: absolute;
  top: -60px;
  left: 10%;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button:hover {
  background-color: #0670d3;
  color: white;
}

@media (max-width: 460px) {
  .cont {
    width: 90vw;
    min-width: auto;
  }
  .button {
    width: 50%;
    left: 25%;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .cont {
    width: 90vw;
    min-width: auto;
    height: 45vh;
  }
  .button {
    bottom: -4vh;
  }
}

@media (max-height: 640px) {
  .cont {
    height: 350px;
  }
}

.creds{
  text-align: center;
 
}

.creds_cont{
  border: 1px solid rgb(97, 97, 97);
  color: rgb(65, 65, 65);
}
